<%- include('layout', { title: 'Books', body: `

<!-- Body -->
<header class="py-3 header-bg">
  <div class="container">
    <div class="text-center my-3">
      <p class="h1">
        <span class="badge">BOOKS</span>
      </p>
    </div>
  </div>
</header>

` }) %>
