<%- include('layout', { title: 'Copyright Notice', body: `

<!-- Body -->
<header class="py-3 header-bg">
  <div class="container">
    <div class="text-center my-3">
      <p class="h1">
        <span class="badge">COPYRIGHT NOTICE</span>
      </p>
    </div>
  </div>
</header>

<div class="privacy-container">
  <h2 class="h2-privacy">1. Copyright Protection</h2>
  <p>
    All content on this website, including but not limited to text, images,
    graphics, logos, videos, and software, is the property of Layo Obidike or
    its licensors and is protected by copyright laws and international treaties.
  </p>

  <h2 class="h2-privacy">2. Use of Content</h2>
  <p>
    You may access and view the content on our website for personal,
    non-commercial use only. You may not reproduce, distribute, modify, display,
    or transmit any content from this website without the prior written consent
    of Layo Obidike.
  </p>

  <h2 class="h2-privacy">3. Requests for Permission</h2>
  <p>
    For permissions or inquiries regarding the use of any content on this
    website, please contact us at:
  </p>
  <div class="contact-info">
    <p><strong>Email:</strong> layo@ithriveonwisdom.com</p>
    <p><strong>Address:</strong> 1551 Lycee Place, Ottawa, Ontario. K1G4B5</p>
  </div>

  <h2 class="h2-privacy">4. Copyright Infringement</h2>
  <p>
    If you believe that any content on our website infringes on your copyright
    or intellectual property rights, please notify us promptly with detailed
    information about the alleged infringement. We will investigate and respond
    as appropriate.
  </p>

  <h2 class="h2-privacy">5. Changes to Copyright Notice</h2>
  <p>
    We may update this Copyright Notice from time to time. Any changes will be
    posted on this page with an updated effective date. Please review this
    notice periodically to stay informed about our copyright practices.
  </p>

  <h2 class="h2-privacy">6. Acknowledgment</h2>
  <p>
    By using this website, you acknowledge that you have read and understood
    this Copyright Notice and agree to comply with its terms. Thank you for
    respecting our intellectual property rights.
  </p>
</div>

` }) %>
