<%- include('layout', { title: 'Layo Obidike', body: `
<!-- Header Container Section -->
<div
  class="header-container bg-navy d-flex justify-content-between align-items-center"
>
  <div class="text-container">
    <h1 class="name-up">LAYO</h1>
    <h1 class="name-down">OBIDIKE</h1>
  </div>

  <img
    class="bd-placeholder-img"
    src="/images/LO1-nobg.png"
    alt="Layo Obidike"
  />
</div>

<!-- Organisations -->
<section class="featured-products text-center">
  <div class="text-center my-3">
    <p class="h1">
      <span class="badge">Organisations</span>
    </p>
  </div>
  <div class="product-grid px-3 mt-3">
    <div class="product-card">
      <a href="https://ithriveonwisdom.com/">
        <img src="/images/thriveon-logo.jpg" alt="ThriveON"
      /></a>
    </div>
    <div class="product-card">
      <a href="#"
        ><img src="/images/GTCS.jpg" alt="God's Treasury Cooperative"
      /></a>
    </div>
    <div class="product-card">
      <a href="#"><img src="/images/lo-pub.jpg" alt="LO Publications" /></a>
    </div>
    <div class="product-card">
      <a href="#"
        ><img src="/images/theSpiritualWoman.jpg" alt="The Spiritual Woman"
      /></a>
    </div>
  </div>
  <div class="product-grid my-3 px-3">
    <div class="product-card">
      <a href="#"
        ><img src="/images/logo.jpg" alt="All About Love in Action"
      /></a>
    </div>
    <div class="product-card">
      <a href="#"><img src="/images/logo.jpg" alt="PRAISEGATES School" /></a>
    </div>
    <div class="product-card">
      <a href="#"
        ><img src="/images/CanadaClothing.jpg" alt="Canada Clothings"
      /></a>
    </div>
    <div class="product-card">
      <a href="#"><img src="/images/logo.jpg" alt="SIMARTPlace" /></a>
    </div>
  </div>
</section>

<!-- Newsletter Signup Section -->
<section id="newsletter-signup" class="newsletter-signup mt-3">
  <h2>Subscribe to Our Newsletter</h2>
  <p>
    Don't miss out on the latest updates and exclusive content from Layo
    Obidike! Sign up for our newsletter to stay connected and inspired with
    every email.
  </p>
  <form action="/subscribe" method="POST">
    <input
      type="email"
      id="email"
      name="email"
      required
      placeholder="Enter your email address"
    />
    <button type="submit">Subscribe</button>
  </form>
  <ul>
    <li>
      Get the Latest News: Be the first to hear about our new initiatives,
      exciting events, and groundbreaking projects.
      <a>Subscribe Now</a>
    </li>
    <li>
      Exclusive Content: Access unique insights, helpful tips, and inspirational
      stories directly from Layo Obidike.
      <a>Join Today</a>
    </li>
    <li>
      Special Offers: Enjoy exclusive promotions and offers tailored just for
      our subscribers. <a>Sign Up for Deals</a>
    </li>
  </ul>
</section>

` }) %>
