<%- include('layout', { title: 'Layo Obidike', body: `
<!-- Header Carousel Section -->
<div id="myCarousel" class="carousel slide bg-navy" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="container h-100 d-flex flex-column justify-content-end align-items-end"
      >
        <img
          class="bd-placeholder-img"
          src="/images/LO3-nobg.png"
          alt="Layo Obidike"
        />
        <div class="carousel-caption text-start">
          <h1 class="welcome-text">Welcome to Layo Obidike Website</h1>
          <p>
            "Empowered to Educate, Inspired to Innovate: Uniting Family, Faith,
            and Entrepreneurship with Love, Grace, and Accountability."
          </p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="container h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <img
          class="bd-placeholder-img"
          src="/images/LO1-nobg.png"
          alt="Layo Obidike"
        />
        <div class="carousel-caption">
          <h1 class="welcome-text">Discover Our Inspiring Initiatives</h1>
          <p>
            "Exploring Pathways to Personal Growth and Community Empowerment."
          </p>
          <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="container h-100 d-flex flex-column justify-content-start align-items-start"
      >
        <img
          class="bd-placeholder-img"
          src="/images/LO2-nobg.png"
          alt="Layo Obidike"
        />
        <div class="carousel-caption text-end">
          <h1 class="welcome-text">Join Our Mission</h1>
          <p>"Be a Part of the Layo Obidike Journey."</p>
          <p><a class="btn btn-lg btn-primary" href="/contact">Join us</a></p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Newsletter Signup Section -->
<section id="newsletter-signup" class="newsletter-signup">
  <h2>Subscribe to Our Newsletter</h2>
  <p>
    Don't miss out on the latest updates and exclusive content from Layo
    Obidike! Sign up for our newsletter to stay connected and inspired with
    every email.
  </p>
  <form action="/subscribe" method="POST">
    <input
      type="email"
      id="email"
      name="email"
      required
      placeholder="Enter your email address"
    />
    <button type="submit">Subscribe</button>
  </form>
  <ul>
    <li>
      Get the Latest News: Be the first to hear about our new initiatives,
      exciting events, and groundbreaking projects.
      <a>Subscribe Now</a>
    </li>
    <li>
      Exclusive Content: Access unique insights, helpful tips, and inspirational
      stories directly from Layo Obidike.
      <a>Join Today</a>
    </li>
    <li>
      Special Offers: Enjoy exclusive promotions and offers tailored just for
      our subscribers. <a>Sign Up for Deals</a>
    </li>
  </ul>
</section>

<!-- Featured Products -->
<section class="featured-products text-center">
  <h2>Featured Products</h2>
  <div class="product-grid px-3">
    <div class="product-card">
      <img src="/images/product-1.jpg" alt="Product 1" />
      <h3>Product 1</h3>
      <p>Description of Product 1</p>
    </div>
    <div class="product-card">
      <img src="/images/product-2.jpg" alt="Product 2" />
      <h3>Product 2</h3>
      <p>Description of Product 2</p>
    </div>
    <div class="product-card">
      <img src="/images/product-3.jpg" alt="Product 3" />
      <h3>Product 3</h3>
      <p>Description of Product 3</p>
    </div>
  </div>
  <div class="product-grid my-3 px-3">
    <div class="product-card">
      <img src="/images/product-1.jpg" alt="Product 1" />
      <h3>Product 1</h3>
      <p>Description of Product 1</p>
    </div>
    <div class="product-card">
      <img src="/images/product-2.jpg" alt="Product 2" />
      <h3>Product 2</h3>
      <p>Description of Product 2</p>
    </div>
    <div class="product-card">
      <img src="/images/product-3.jpg" alt="Product 3" />
      <h3>Product 3</h3>
      <p>Description of Product 3</p>
    </div>
  </div>
</section>

` }) %>
