<%- include('layout', { title: 'Terms of Use', body: `

<!-- Body -->
<header class="py-3 header-bg">
  <div class="container">
    <div class="text-center my-3">
      <p class="h1">
        <span class="badge">TERMS OF USE</span>
      </p>
    </div>
  </div>
</header>

<div class="privacy-container">
  <p class="effective-date">Effective Date: September, 2024</p>

  <h2 class="h2-privacy">1. Introduction</h2>
  <p>
    Welcome to Layo Obidike’s website. These Terms of Use ("Terms") govern your
    access to and use of our website and services. By using our website, you
    agree to comply with these Terms. If you do not agree with any part of these
    Terms, please do not use our website.
  </p>

  <h2 class="h2-privacy">2. Use of Our Website</h2>
  <ul>
    <li>
      <strong>Eligibility:</strong> You must be at least 18 years old, or the
      age of majority in your jurisdiction, to use our website. By using our
      website, you represent that you meet this age requirement.
    </li>
    <li>
      <strong>Account Responsibilities:</strong> If you create an account on our
      website, you are responsible for maintaining the confidentiality of your
      account information and for all activities that occur under your account.
      You agree to notify us immediately of any unauthorized use of your
      account.
    </li>
  </ul>

  <h2 class="h2-privacy">3. Intellectual Property</h2>
  <ul>
    <li>
      <strong>Ownership:</strong> All content on our website, including text,
      graphics, logos, and images, is the property of Layo Obidike or its
      licensors and is protected by intellectual property laws. You may not use,
      reproduce, distribute, or modify any content without our prior written
      consent.
    </li>
    <li>
      <strong>Limited License:</strong> You are granted a limited,
      non-exclusive, non-transferable license to access and use our website for
      personal, non-commercial purposes. This license does not permit you to use
      any content for commercial purposes.
    </li>
  </ul>

  <h2 class="h2-privacy">4. User Conduct</h2>
  <ul>
    <li>
      <strong>Prohibited Activities:</strong> You agree not to engage in any of
      the following prohibited activities:
      <ul>
        <li>Violating any applicable laws or regulations.</li>
        <li>
          Posting or transmitting any content that is unlawful, defamatory,
          obscene, or otherwise objectionable.
        </li>
        <li>
          Interfering with or disrupting the operation of our website or
          servers.
        </li>
        <li>
          Attempting to gain unauthorized access to any portion of our website
          or related systems.
        </li>
      </ul>
    </li>
    <li>
      <strong>User Contributions:</strong> Any content you submit to our
      website, including comments or reviews, must comply with our guidelines
      and may be moderated or removed at our discretion.
    </li>
  </ul>

  <h2 class="h2-privacy">5. Privacy</h2>
  <p>
    Your use of our website is also governed by our Privacy Policy, which
    outlines how we collect, use, and protect your personal information. By
    using our website, you consent to our Privacy Policy.
  </p>

  <h2 class="h2-privacy">6. Disclaimers</h2>
  <ul>
    <li>
      <strong>No Warranties:</strong> Our website and services are provided "as
      is" and "as available" without warranties of any kind, whether express or
      implied. We do not guarantee the accuracy, reliability, or completeness of
      the content on our website.
    </li>
    <li>
      <strong>Limitation of Liability:</strong> To the fullest extent permitted
      by law, Layo Obidike shall not be liable for any indirect, incidental,
      special, or consequential damages arising from or related to your use of
      our website or services.
    </li>
  </ul>

  <h2 class="h2-privacy">7. Third-Party</h2>
  <p>
    Links Our website may contain links to third-party websites. We are not
    responsible for the content or practices of these external sites. You should
    review the terms of use and privacy policies of any third-party sites you
    visit.
  </p>

  <h2 class="h2-privacy">8. Termination</h2>
  <p>
    We reserve the right to terminate or suspend your access to our website,
    without prior notice, if you violate these Terms or engage in any conduct
    that we deem inappropriate.
  </p>

  <h2 class="h2-privacy">9. Modifications to Terms</h2>
  <p>
    We may update these Terms from time to time. We will notify you of any
    significant changes by posting the revised Terms on our website with an
    updated effective date. Your continued use of our website after any changes
    indicates your acceptance of the updated Terms.
  </p>

  <h2 class="h2-privacy">10. Governing Law</h2>
  <p>
    These Terms are governed by and construed in accordance with the laws of
    [Insert Jurisdiction]. Any disputes arising from or related to these Terms
    or your use of our website shall be subject to the exclusive jurisdiction of
    the courts in [Insert Jurisdiction].
  </p>

  <h2 class="h2-privacy">11. Contact Information</h2>
  <p>
    For any questions or concerns about these Terms of Use, please contact us
    at:
  </p>
  <div class="contact-info">
    <p><strong>Email:</strong> layo@ithriveonwisdom.com</p>
    <p><strong>Address:</strong> 1551 Lycee Place, Ottawa, Ontario. K1G4B5</p>
  </div>

  <h2 class="h2-privacy">12. Acknowledgment</h2>
  <p>
    By using our website, you acknowledge that you have read, understood, and
    agreed to these Terms of Use.
  </p>

  <p class="acknowledgment">
    Thank you for visiting Layo Obidike’s website. We appreciate your compliance
    with these Terms.
  </p>
</div>

` }) %>
