<footer class="footer mt-auto py-3 bg-navy">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-start">
        <p class="gold">
          Copyright © 2024 Layo Obidike. All Rights Reserved. Powered by
          <a href="https://ithriveonwisdom.com/">ThriveON</a>
        </p>
      </div>
      <nav class="col-md-6 text-end">
        <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
        <span class="gold">/</span>
        <a href="/terms-of-use" class="footer-link">Terms of Use</a>
        <span class="gold">/</span>
        <a href="/copyright" class="footer-link">Copyright Notice</a>
      </nav>
    </div>
  </div>
</footer>
