<nav class="navbar navbar-expand-lg bg-navy">
  <div class="container-fluid">
    <a class="navbar-brand bg-gold p-2 fw-bold rounded-1" href="/"
      >Layo Obidike</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon bg-gold"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-end d-flex">
        <% navItems.forEach((item) => { %>
        <li class="nav-item">
          <a
            class="nav-link <%= title === item.title ? 'active' : '' %>"
            href="<%= item.href %>"
            ><%= item.title %></a
          >
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>
